extends layout

block content
  h1= title
  p Welcome to #{title}
  
  a(href="/userpage" id='userPageBtn') User Page
  
  #splash Welcome to the StarWars Theme App

block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/index.js")
