.page{
  display: flex;
  width: 99vw;
  justify-content: space-around;
}

.infobox{
  border: 1vw solid black;
  width: 40vw;
  height: 50vw;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  flex-direction: column;
  font-size: 4vw;
}

.stats {
  border: .3vw solid black;
  width: 30vw;
  height: 40vw;

}

.luke{
  background: url('http://vignette3.wikia.nocookie.net/starwars/images/6/62/LukeGreenSaber-MOROTJ.png/revision/latest?cb=20150426200707');
}
.r2d2 {
  background: url('http://cdn.fansided.com/wp-content/blogs.dir/319/files/2014/11/R2-D2-star-wars-640x410.jpg');
}
.darth{
  background: url('http://screenrant.com/wp-content/uploads/James-Earl-Jones-Darth-Vader-Star-Wars-Rebels.jpg');
}


.luke,.r2d2,.darth{
  margin-top: .3vw;
  cursor: pointer;
  height: 15vw;
  width: 15vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.luke:hover,.r2d2:hover,.darth:hover{
  border: .3vw solid blue;
}

.body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.stats {
  background-color: oldlace;
}
